# Ignore virtual environment
venv/

# Ignore models directory
models/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment configuration
.env
*.env

# Ignore log and temp files
*.log
*.tmp

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore generated images
static/images/generated/
